<div class = "container p-4">
   <h2>Welcome to Skip Logic Admin</h2>
   <p>You can only TEST skip logic after setting the logic.</p>
   <p>Please set Logic first before testing.</p>
   <p>If you dont set logic rules, defaults will be used.</p>
   <hr>
   <div class="menu">
       <button type="button" class="btn btn-outline-success" (click)="set()">Set Skip Logic</button>
       <!--<button type="button" class="btn btn-outline-success" (click)="view()">View/Edit Logic</button>-->
       <button type="button" class="btn btn-outline-success" (click)="survey()">Test Logic</button>
   </div>
</div>
